<div class="container w-100">
  <div>
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="font-weight-500">{{ message }}</h1>
      <a href="https://angular.io/"><img class="angular-img" src="./src/images/angular.png" alt="angular logo" /></a>
    </div>
    <div class="d-flex justify-content-center align-items-center p-1 text-align-center">
      <p class="text-dark-cyan">Welcome to Angular with Webpack 5.88!</p>
      <a href="https://webpack.js.org/"><img class="webpack" src="./src/images/webpack.png" alt="webpack img" /></a>
    </div>
    <div class="d-flex justify-content-center">
      <button class="button p-2 rounded-3" (click)="addCount()">Count is {{ count }}</button>
    </div>
  </div>
  <footer class="d-flex justify-content-between align-items-center w-100 p-2">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <span>Modular Sass</span>
      <img class="sass" src="./src/images/sass.png" alt="sass logo" />
    </div>
    <div class="d-flex justify-content-center align-items-center gap-2">
      <img class="github" src="./src/images/github.png" alt="github" />
      <span>Codespaces</span>
    </div>
  </footer>
</div>
