.dark-cyan {
  color: rgb(37, 73, 73);
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(221, 157, 103, 1) 0%,
    rgba(207, 85, 29, 0.985) 52%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.angular-img {
    width: 40vh;
}

.font-weight-500 {
    font-weight: 500;
}

.d-flex-center {
    display: flex;
    align-items: center;
    gap: 10px
}

.github {
    width: 90px;
}

.sass {
    width: 50px;
}

.webpack {
    width: 60px;
}

.angular-img,
.webpack {
    will-change: filter;
    transition: filter 300ms;
}

.webpack:hover {
    filter: drop-shadow(0 0 2em #f3f3f1fb);
}

.angular-img:hover {
    filter: drop-shadow(0 0 2em #470e0cfb);

}